.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 1.5rem;
}

div {
    font-family: 'Times New Roman', Times, serif;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.cv-container {
    width: 40vw;
    text-align: center;
    box-shadow: 0px 0px 3px 2px gray;
    background-color: lightgray;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

form > input {
    width: 30vw;
    font-size: 1.9rem;
}

.date-input, .wrapper {
    display: flex;
    gap: 10px;
}

#name {
    font-size: 2rem;
    width: 30vw;
    margin-bottom: 15px;
}